body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  h1 {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
  }
  
  .download-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  #fileList {
    list-style: none;
    padding: 0;
  }
  
  #fileList li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #fileList input[type="radio"] {
    margin-right: 10px;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  @media screen and (max-width: 768px) {
    #fileForm {
      margin: 10px auto;
      padding: 10px;
    }
  
    #fileList li {
      margin-bottom: 8px;
    }
  
    button[type="submit"] {
      padding: 8px;
    }
  }
  
